*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
  /* background-color: #004e2e95; */
  background-image: url(https://t3.ftcdn.net/jpg/02/77/30/98/360_F_277309825_h8RvZkoyBGPDocMtippdfe3497xTrOXO.jpg);
}
#root {
  background-color: #004e2e95;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
  background-color: #004e2e95;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #cb344d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}
.home {
  background-color: #fff098;
  color: white;
}
.multi{
  background: linear-gradient(90deg, red, orange, yellow, green, blue)
}
h1 {
  color: rgb(174, 174, 174);
  text-shadow: 1px 1px 1px black;
}
h1:hover{
  font-family: papyrus, fantasy, sans-serif;
}
a {
  color: snow;
  text-shadow: 1px 1px 1px black;
}
a:hover {
  color: rgba(200, 255, 255, 0.7);
}